<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Phone book</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h2>Phone book</h2>
{{{body}}}
</body>
</html>
